UPSTASH_REDIS_REST_URL=https://kind-fowl-72253.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAARo9AAIncDFjNDBmMTFiYjNkYmQ0Nzc1YWQ3ZWE4NzU3NjIyYTZmY3AxNzIyNTM
# GEMINI_API_KEY=AIzaSyAr66FcX1s2ik3gRbH5lwPy0XYDR6ZWzqw
GEMINI_API_KEY=AIzaSyAhFaJ560ALUXYsG7ewbqYrutYdVpGM78Y
CARTESIA_API_KEY=sk_car_WvwvRi8em7xjk12YSTqc9c
# Optional — leave empty for anonymous access (free, may be slower during peak hours)
HUGGINGFACE_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000
WEBHOOK_BASE_URL=https://tegan-multifocal-averie.ngrok-free.dev
STORAGE_PATH=./storage
IS_PRODUCTION=NO


# OpenAI
OPENAI_API_KEY=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

# Groq
GROQ_API_KEY=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

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Vercel Blob (Storage → your Blob store → .env.local in Vercel dashboard)
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_URL=https://t3j4wrijdes3fsnh.private.blob.vercel-storage.com

# EVOLINK AI Model Aggregator
EVOLINK_API_KEY=sk-20I6GIzvJ4MHeKpp8lH5NQwnM9QL5OyjePyaipZom7OcRGue

# VERCEL Blob Read Write Token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_HAtsfTfF3mQBf5oo_9gMlxvnzGkrmfBwGVvuaBJiDzdBblM

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBD9VTyILnCJgvjJLw_Hz3Svou-e4Yj3ik
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-video-content-pipeline.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-video-content-pipeline
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-video-content-pipeline.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=792687755082
NEXT_PUBLIC_FIREBASE_APP_ID=1:792687755082:web:68075d4eb380177d904bb3
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-0S17EVYFZB